
@{
    ViewBag.Title = "GitHub Integration Demo";
}

<h2>Integration Demo Site</h2>

<p>
    Welcome to the GitHub integration demo.
</p>
<p>
    Update 1 - 2016/01/21:50:00
</p>
Just created this one for a second branch.
sjdbfjhdsfb